<h1>Groceries</h1>

<ul>
  <% @list.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>


<form action="/groceries" method="post">
  <div class="row">
    <div class="small-8 large-4 columns">
      <div class="row collapse postfix-round">
        <label>
          <div class="small-9 columns">
            <input type="text" id="new_item" name="new_item" placeholder="Add a new item" />
          </div>
          <div class="small-3 columns">
            <input type="submit" value="Submit" class="button postfix"/>
          </div>
        </label>
      </div>
    </div>
  </div>
</form>
